#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.sceneCover {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    90deg,
    black,
    #0d031626 15%,
    #0d031600 50%,
    #0d031626 85%,
    black
  );
  z-index: 1000;
}

.chipsSection {
  display: flex;
  flex-direction: row;
  gap: 7%;
  align-items: center;
  margin-bottom: 2%;
}

.chipLeft {
  height: 2px;
  width: 7rem;
  background-image: linear-gradient(
    90deg,
    var(--primary-color-opacity),
    var(--primary-color)
  );
}

.chipRight {
  height: 2px;
  width: 7rem;
  background-image: linear-gradient(
    90deg,
    var(--primary-color),
    var(--primary-color-opacity)
  );
}

.title {
  background-image: linear-gradient(180deg, var(--secondary-color) 8%, white);
  font-size: 4.7em;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  letter-spacing: -5px;
  width: 100%;
  line-height: 88%;
  font-weight: 600;
 /* text-shadow: 10px 20px 30px rgba(151, 151, 151, 0.351); */
}

.description {
max-width: 384px;
letter-spacing: -0.36px;
font-size: 1.12rem;
line-height: 128%;
margin-top: 1%;
}
